html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'icon_font';
  src: url("../fonts/tgl_0-1451eng.ttf"); }
* {
  font-family: 'icon_font';
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; }

.nav-1 {
  width: 100%;
  height: 500px;
  padding: 30px 100px;
  position: relative;
  background-image: url("../img/EBS_fb_cov.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .nav-1 .nav-1-items {
    width: 960px;
    text-align: right;
    margin: 0 auto;
    text-align: right; }
    .nav-1 .nav-1-items a {
      color: #FFF;
      text-decoration: none;
      font: 20px Raleway;
      margin: 0px 10px;
      padding: 10px 10px;
      display: inline-block;
      position: relative;
      z-index: 0;
      cursor: pointer; }
    .nav-1 .nav-1-items a:before, .nav-1 .nav-1-items a:after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s; }
    .nav-1 .nav-1-items a:before {
      left: 0px;
      top: 0px; }
    .nav-1 .nav-1-items a:after {
      right: 0px;
      bottom: 0px; }
    .nav-1 .nav-1-items a:hover:before, .nav-1 .nav-1-items a:hover:after {
      opacity: 1;
      width: 100%; }

.nav-2 {
  background-color: #422225;
  position: fixed;
  margin-top: -60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 60px; }
  .nav-2 .nav-2-items {
    width: 960px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center; }
    .nav-2 .nav-2-items .left-nav {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .nav-2 .nav-2-items .left-nav #logo {
        height: 40px; }
    .nav-2 .nav-2-items .right-nav {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center; }
      .nav-2 .nav-2-items .right-nav a {
        color: #FFF;
        text-decoration: none;
        font: 20px Raleway;
        margin: 0px 10px;
        padding: 10px 10px;
        display: inline-block;
        position: relative;
        z-index: 0;
        cursor: pointer; }
      .nav-2 .nav-2-items .right-nav a:before, .nav-2 .nav-2-items .right-nav a:after {
        position: absolute;
        opacity: 0;
        width: 0%;
        height: 2px;
        content: '';
        background: #FFF;
        transition: all 0.3s; }
      .nav-2 .nav-2-items .right-nav a:before {
        left: 0px;
        top: 0px; }
      .nav-2 .nav-2-items .right-nav a:after {
        right: 0px;
        bottom: 0px; }
      .nav-2 .nav-2-items .right-nav a:hover:before, .nav-2 .nav-2-items .right-nav a:hover:after {
        opacity: 1;
        width: 100%; }

.mission {
  width: 960px;
  padding: 50px 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-bottom: 3px solid #B3A6A8; }
  .mission h1 {
    font-size: 34px;
    margin: 14px auto;
    color: #422225; }
  .mission p {
    line-height: 30px;
    font-size: 25px;
    color: #684E51; }

.supplies {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 3px solid #B3A6A8; }
  .supplies div {
    flex: 1 30%;
    margin: 1%; }
    .supplies div img {
      width: 100%; }

.story {
  border-bottom: 3px solid #B3A6A8;
  width: 960px;
  padding: 50px 100px;
  margin: 0 auto;
  display: flex; }
  .story .left-div {
    flex: 1;
    padding: 20px;
    text-align: right; }
    .story .left-div img {
      width: 100%; }
    .story .left-div h1 {
      font-size: 34px;
      margin: 14px auto;
      color: #422225; }
  .story .right-div {
    flex: 1;
    padding: 20px; }
    .story .right-div p {
      line-height: 30px;
      font-size: 25px;
      color: #684E51; }

.contact {
  width: 960px;
  padding: 50px 100px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .contact #map {
    height: 180px;
    width: 400px;
    margin: 0 auto; }
  .contact h1 {
    font-size: 34px;
    margin: 14px auto;
    color: #422225; }
  .contact p {
    line-height: 30px;
    font-size: 25px;
    color: #684E51; }

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 100px;
  background-color: #422225;
  color: white; }

.anchor {
  padding-top: 110px; }

/*# sourceMappingURL=style.css.map */
