@media screen and (min-width: 0px){
  .nav-2-items{
      width: 95%;
  }
}
@media screen and (min-width: 1024px){
  .nav-2-items{
      width: 960px;
  }
}
.nav-2{
  background-color: $dark;
  width: 100%;
  position: fixed;
  margin-top: -60px;

  display: flex;
  flex-direction: column;
  top: 0;
  height:60px;
  .nav-2-items{
    margin:0 auto;
    flex: 1; 
    display: flex;
    align-items: center;
    .left-nav{
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      #logo{
        height:26px;
      }
    }
    .right-nav{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
    }
    a{
      color: #FFF;
      text-decoration: none;
      font: 26px;
      margin: 0px 10px;
      padding: 10px 10px;
      display: inline-block;
      position: relative;
      z-index: 0;
      cursor: pointer;
    }
    a:before,a:after{
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s;
    }
    a:before{
      left: 0px;
      top: 0px;
    }
    a:after{
      right: 0px;
      bottom: 0px;
    }
    a:hover:before, a:hover:after{
      opacity: 1;
      width: 100%;
    }
  }
}


