@media screen and (min-width: 0px){    
  
  #small_logo{
    display: inline-block;
  }
  .nav-1{
    width: 100%;
    height: 100%;
    padding: 30px 100px;
    position: relative;
    background-image: url("../img/small_cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    .large_logo{
      display: none;
    }
    .nav-1-items{    
        img{
            height: 50px;
        }      
        text-align: center;
        margin: 0 auto;            
    }
    a{
      width: 200px;
      color: #FFF;
      text-decoration: none;
      margin: 0px auto;
      padding: 10px 10px;
      display: block;

      position: relative;
      z-index: 0;
      cursor: pointer;
    }
    a:before,a:after{
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s;
    }
    a:before{
      left: 0px;
      top: 0px;
    }
    a:after{
      right: 0px;
      bottom: 0px;
    }
    a:hover:before, a:hover:after{
      opacity: 1;
      width: 100%;
    }
  }
}
@media screen and (min-width: 1024px){
  
  #small_logo{
    display: none;
  }
  .nav-1{
    width: 100%;
    height: 100%;
    padding: 30px 100px;
    position: relative;
    background-image: url("../img/small_cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    .large_logo{
      width: 900px;
      display: block;
      text-align: right;
      margin: 0 auto; 
      img{
        width: 100%;
      }
    }
    .nav-1-items{      
      width: 900px;
      text-align: right;
      margin: 0 auto;         
    }
    a{
      color: #FFF;
      width: auto;
      text-decoration: none;
      margin: 0px 10px;
      padding: 10px 10px;
      display: inline-block;
      position: relative;
      z-index: 0;
      cursor: pointer;
    }
  }
}


